*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background-color: rgb(246, 246, 123);
}
.container{
    height: 70vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
height: 18vmin;
width: 18vmin;
font-size: 80px;
}
